<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:prg="http://thymeleafexamples">
<head lang="en">
<meta charset="UTF-8" />
<title>淘宝客</title>

<link
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link rel="stylesheet" th:href="@{/css/bootstrapv3.css}"></link>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/bootstrapv3.js}"></script>
<script th:src="@{/js/bootstrap-paginator.js}"></script>
<script th:src="@{/js/tbk-page.js}"></script>
<script th:src="@{/js/coupon.js}"></script>

</head>
<body>

	<div id="h_url" style="display: none;" th:text="${h_url}"></div>
	<div id="tbk_header" style="width: 85%; margin: 0 auto">
		<th:block th:include="_menu :: div"> default</th:block>
	</div>

	<div id="tbk_main" style="width: 90%; margin: 0 auto">
		<div class="list-group"></div>

		<div class="container">
			<div class="row">
			
			<div th:each="map,mapStat : ${map}">
				<a target="blank" th:href="${map.key}"><span class="price-tip-sales"><del
											th:text="${map.key}"></del></span></a>
				<a target="blank" th:href="${map.value}"><span class="price-tip-sales"><del
											th:text="${map.value}"></del></span></a>
			</div>
			
				
			</div>
		</div>


	</div>

	<div style="width: 80%; margin: 0 auto" id="tbk_pagebar">
		<div id="pageInitValue" style="display: none;" th:text="${pageInfos}"></div>
		<ul id='bp-3-element-test' style="cursor: hand;"></ul>
	</div>

</body>
</html>